<div class="cart-item">
  <img class="cart-item__image" [src]="'assets/images/' + cartItem.product.image" />
  <div class="cart-item__info">
    <span class="cart-item__info__title">{{ cartItem.product.name }}</span>
    <span class="cart-item__info__type">{{ cartItem.product.type }}</span>
    <div class="cart-item__info__quantity">
      <div class="cart-item__info__quantity__actions">
        <button>+</button>
        <span>{{ cartItem.quantity }}</span>
        <button>-</button>
      </div>

      <span class="cart-item__info__quantity__total-price"
        >${{ cartItem.quantity * cartItem.product.price }}</span
      >
    </div>
  </div>
</div>
