.product {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__image {
    border-bottom: 3px solid transparent;
    transition: all 0.4s;

    &:hover {
      border-bottom-color: black;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title,
    &__price {
      text-transform: uppercase;
      font-weight: 550;
    }

    &__type {
      color: gray;
    }
  }

  &__btn {
    cursor: pointer;

    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    transition: all 0.2s;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}
