<div class="cart-sidebar" [class.open]="isCartOpen">
  <div class="cart-sidebar__header">
    <h3>Shopping Bag</h3>
    <button (click)="isCartOpen = false">✕</button>
  </div>

  <div class="cart-sidebar__content">
    @for (cartItem of cart; track cartItem.product.id) {
      <app-cart-item [cartItem]="cartItem" />
    } @empty {
      <h2>No Items</h2>
    }

    @if (cart.length) {
      <div class="cart-sidebar__content__subtotal">
        <span>subtotal</span>
        <span>${{ totalPrice }}</span>
      </div>
    }
  </div>
</div>
